<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>sdark-notify</string>
		<key>ProgramArguments</key>
		<array>
			<string>dark-notify</string>
			<string>-c</string>
			<string>bash /Users/dhruvkb/dotfiles/scripts/update_themes.sh</string>
		</array>
		<key>KeepAlive</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>/Users/dhruvkb/.local/state/launch_agents/dark-notify-stderr.log</string>
		<key>StandardOutPath</key>
		<string>/Users/dhruvkb/.local/state/launch_agents/dark-notify-stdout.log</string>
	</dict>
</plist>
