# CAUTION: Symlinked file

[core]
	excludesfile = /Users/dhruvkb/dotfiles/git/.gitignore

[user]
  name = Dhruv Bhanushali
  email = dhruv_b@live.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII57SP4Vf5B6n6SThAEWVWHedM9T/Cj3P3nEPawE4Vlv

[commit]
  gpgsign = true

[pull]
	rebase = false

[tag]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[init]
  defaultbranch = main

[rebase]
  autosquash = true

[alias]
  yeet = reset --hard HEAD
  root = rev-parse --show-toplevel

[pager]
  branch = cat
