# pre-commit
pre-commit.pyz

# Python cache
__pycache__/

# Virtual environment
.venv/

# Ignore Catppuccin themes
iTerm2/colors/catppuccin_*.itermcolors

# Machine-local Raycast script data
raycast/data/

# Machine-local Zsh functions data
zsh/data/

# Machine-local AWS cache data
aws/data/

# Machine-local SSH public keys data
ssh/data/
