# pre-commit
pre-commit.pyz

# Python cache
__pycache__/

# Virtual environment
.venv/

# Ignore SSH sub-configs
ssh/configs/*-config

# Ignore Catppuccin themes
iTerm2/colors/catppuccin_*.itermcolors

# Machine-local Raycast script config
raycast/scripts/*.local.sh
